*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-top: 3rem;
  font-size: 3em;
}

.container {
  display: flex;
  align-items: center;
  margin-inline: auto;
  margin-top: 2rem;
  width: fit-content;
}

#canvas {
  border: 1px black solid;
}